{# All Property Listings #}
{% extends 'main.twig' %}
{% block title %}All Listings{% endblock %}

{% block content %}

<main class="listings">
    <h2>Currently Available</h2>

    <form class="search-bar" role="search">
        <select name="type" id="type">
            <option value="any">Any</option>
            <option value="detached">Detached</option>
            <option value="semi">Semi-Detached</option>
            <option value="condo">Condo</option>
            <option value="townhouse">Townhouse</option>
        </select>
        <input type="number" placeholder="Price Under e.g. 700" />
        <button type="submit">Filter</button>
    </form>

    <div class="pagination">
        <ul>
            <li><a class="disabled" href="javascript:void(0)"><</a></li>
            <li>
                <ul>
                    <li><a class="active" href="javascript:void(0)">1</a></li>
                    <li><a href="javascript:void(0)">2</a></li>
                    <li><a href="javascript:void(0)">3</a></li>
                    <li><a href="javascript:void(0)">4</a></li>
                    <li><a href="javascript:void(0)">5</a></li>
                    <li><a href="javascript:void(0)">6</a></li>
                    <li><a href="javascript:void(0)">7</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0)">></a></li>
        </ul>
    </div>

    <div class="cards">
        <div class="card">
            <div class="card-image">
                <img src="{{ imgPath }}185H.jpg" alt="">
            </div>
            <div class="card-header">
                97 Bernick Drive, Barrie
            </div>
            <div class="card-content">
                <dl>
                    <dt>Type</dt>
                    <dd>Semi-Detached</dd>
                </dl>
                <dl>
                    <dt>Rooms</dt>
                    <dd>3/4 Vacant</dd>
                </dl>
            </div>
            <div class="card-footer">
                <a class="interested" href="javascript:void(0)">Interested</a>
                <p><strong>$560</strong>/month</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="{{ imgPath }}102H.jpg" alt="">
            </div>
            <div class="card-header">
                Another Card
            </div>
            <div class="card-content">
                <dl>
                    <dt>Type</dt>
                    <dd>Detached</dd>
                </dl>
                <dl>
                    <dt>Rooms</dt>
                    <dd>2/3 Vacant</dd>
                </dl>
            </div>
            <div class="card-footer">
                <a class="interested" href="javascript:void(0)">Interested</a>
                <p><strong>$700</strong>/month</p>
            </div>
        </div>

        <div class="card">
            <a href="/pms/property" class="card-image">
                <img src="{{ imgPath }}121.jpg" alt="">
            </a>
            <div class="card-header">
                The Last Card
            </div>
            <div class="card-content">
                <dl>
                    <dt>Type</dt>
                    <dd>Condo</dd>
                </dl>
                <dl>
                    <dt>Rooms</dt>
                    <dd>1/2 Vacant</dd>
                </dl>
            </div>
            <div class="card-footer">
                <a class="interested" href="javascript:void(0)">Interested</a>
                <p><strong>$480</strong>/month</p>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="{{ imgPath }}185H.jpg" alt="">
            </div>
            <div class="card-header">
                99A Bernick Drive, Barrie
            </div>
            <div class="card-content">
                <dl>
                    <dt>Type</dt>
                    <dd>Semi-Detached</dd>
                </dl>
                <dl>
                    <dt>Rooms</dt>
                    <dd>3/4 Vacant</dd>
                </dl>
            </div>
            <div class="card-footer">
                <a class="interested" href="javascript:void(0)">Interested</a>
                <p><strong>$560</strong>/month</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="{{ imgPath }}102H.jpg" alt="">
            </div>
            <div class="card-header">
                Another Card
            </div>
            <div class="card-content">
                <dl>
                    <dt>Type</dt>
                    <dd>Detached</dd>
                </dl>
                <dl>
                    <dt>Rooms</dt>
                    <dd>2/3 Vacant</dd>
                </dl>
            </div>
            <div class="card-footer">
                <a class="interested" href="javascript:void(0)">Interested</a>
                <p><strong>$700</strong>/month</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="{{ imgPath }}121.jpg" alt="">
            </div>
            <div class="card-header">
                The Last Card
            </div>
            <div class="card-content">
                <dl>
                    <dt>Type</dt>
                    <dd>Condo</dd>
                </dl>
                <dl>
                    <dt>Rooms</dt>
                    <dd>1/2 Vacant</dd>
                </dl>
            </div>
            <div class="card-footer">
                <a class="interested" href="javascript:void(0)">Interested</a>
                <p><strong>$480</strong>/month</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="{{ imgPath }}102H.jpg" alt="">
            </div>
            <div class="card-header">
                Another Card
            </div>
            <div class="card-content">
                <dl>
                    <dt>Type</dt>
                    <dd>Detached</dd>
                </dl>
                <dl>
                    <dt>Rooms</dt>
                    <dd>2/3 Vacant</dd>
                </dl>
            </div>
            <div class="card-footer">
                <a class="interested" href="javascript:void(0)">Interested</a>
                <p><strong>$700</strong>/month</p>
            </div>
        </div>
    </div>

    <div class="pagination">
        <ul>
            <li><a class="disabled" href="javascript:void(0)"><</a></li>
            <li>
                <ul>
                    <li><a class="active" href="javascript:void(0)">1</a></li>
                    <li><a href="javascript:void(0)">2</a></li>
                    <li><a href="javascript:void(0)">3</a></li>
                    <li><a href="javascript:void(0)">4</a></li>
                    <li><a href="javascript:void(0)">5</a></li>
                    <li><a href="javascript:void(0)">6</a></li>
                    <li><a href="javascript:void(0)">7</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0)">></a></li>
        </ul>
    </div>

</main>

{% endblock %}